<div class="side-menu">
	<div class="">
		<h4 class="mtext-112 cl2 p-b-33">Các thông tin của tôi</h4>

		<ul>
			<li class="bor18"><label for="dropdown-input" class="m-b--0">
					<p class="dis-block stext-115 cl2 hov-cl1 trans-04 p-tb-8 p-lr-4 pointer">
						<i class="fa fa-address-card-o m-r-5"></i> Tài khoản của tôi <i
							class="fa fa-angle-right float-right p-r-16 lh-17"></i>
					</p>
			</label> <input style="width: 60%;" hidden type="checkbox"
				id="dropdown-input">
				<ul class=" p-lr-4 dropdown-list">
					<li class="bor18 ">
						<a href="/account/profile">
							<p class="dis-block stext-115 cl2 hov-cl1 trans-04 p-tb-8 p-r-4 p-l-25 pointer">
								Hồ sơ
							</p>
						</a>
					</li>
					<li style="border-bottom: none;" class="bor18">
						<a href="/account/address">
							<p class="dis-block stext-115 cl2 hov-cl1 trans-04 p-tb-8 p-r-4 p-l-25 pointer">
								Địa chỉ</p>
						</a>
					</li>
					<li style="border-bottom: none;" class="bor18">
						<a href="/account/changepass">
							<p class="dis-block stext-115 cl2 hov-cl1 trans-04 p-tb-8 p-r-4 p-l-25 pointer">
								Đổi mật khẩu
							</p>
						</a>
					</li>
				</ul>
			</li>

			<li class="bor18">
				<a href="/account/listorder">
					<p class="dis-block stext-115 cl2 hov-cl1 trans-04 p-tb-8 p-lr-4">
						<i class="fa fa-shopping-basket m-r-5"></i> Đơn mua
					</p>
				</a>
			</li>

			<li class="bor18">
				<p class="dis-block stext-115 cl2 hov-cl1 trans-04 p-tb-8 p-lr-4">
					<i class="fa fa-money m-r-5"></i> Kho voucher
				</p>
			</li>

			<li class="bor18">
			<a href="/account/coin">
				<p class="dis-block stext-115 cl2 hov-cl1 trans-04 p-tb-8 p-lr-4">
					<i class="fa fa-google-wallet m-r-5"></i> NH xu
				</p>
			</a>
			</li>
		</ul>
	</div>
</div>