<div class="container">
	<div class="col-10 m-auto">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item" role="presentation">
				<button class="nav-link active" id="home-tab" data-toggle="tab" data-target="#home" type="button"
					role="tab" aria-controls="home" aria-selected="true">Edit</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="profile-tab" data-toggle="tab" data-target="#profile" type="button"
					role="tab" aria-controls="profile" aria-selected="false">List</button>
			</li>
		</ul>
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
				<form>
					<h4 class="mtext-105 cl2 txt-center p-b-30">Người dùng</h4>
					<div class="row">
						<div class="col-4">
							<img width="130px" src="/">
						</div> 
						<div class="col-8">
							<div class="bor8 m-b-20 how-pos4-parent">
								<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text"
									ng-model="form.username" placeholder="Nhập tài khoản">
								<img class="how-pos4 pointer-none" src="/images/icons/account_24px.png" alt="ICON">
							</div>
	
							<div class="bor8 m-b-20 how-pos4-parent">
								<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="password"
									ng-model="form.password" placeholder="Nhập mật khẩu"> <img class="how-pos4 pointer-none"
									src="/images/icons/password_24px.png" alt="ICON">
							</div>
							<div class="bor8 m-b-20 how-pos4-parent">
								<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="email" ng-model="form.email"
									placeholder="Nhập email">
								<img class="how-pos4 pointer-none" src="/images/icons/Email Sign_24px.png" alt="ICON">
							</div>
						</div>
						
					</div>
						<div class="bor8 m-b-20 how-pos4-parent">
							<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" ng-model="form.phone"
								placeholder="Nhập số điện thoại"> <img class="how-pos4 pointer-none"
								src="/images/icons/phone_24px.png" alt="ICON">
						</div>
						<div class="bor8 m-b-20 how-pos4-parent">
							<label class="form-check-label ml-4" for="flexRadioDefault1">
								Giới tính </label>
							<div class="form-check">
								<input class="form-check-input ml-4 " type="radio" required ng-value="true"
									ng-model="form.gender" name="gender" id="flexRadioDefault1"> <label
									class="form-check-label ml-4" for="flexRadioDefault1">
									Nam </label>
							</div>
							<div class="form-check">
								<input class="form-check-input ml-4" type="radio" required ng-value="false"
									ng-model="form.gender" name="gender" id="flexRadioDefault2"> <label
									class="form-check-label ml-4" for="flexRadioDefault2">
									Nữ </label>
							</div>
						</div>
						<div class="bor8 m-b-20 how-pos4-parent">
							<textarea class="stext-111 cl2 plh3 size-116 p-l-35 p-r-30 p-t-10" rows="7"
								ng-model="form.address" placeholder="Nhập địa chỉ"></textarea>
							<img class="how-pos1 pointer-none" src="/images/icons/pay_date_24px.png" alt="ICON">
						</div>
						<div class="bor8 m-b-20 how-pos4-parent">
							<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-10 p-t-10" type="file" id="image"
								onchange="angular.element(this).scope().imageChanged(this.files)">
							<img class="how-pos4 pointer-none" src="/images/icons/account_24px.png" alt="ICON">
						</div>
						<div class="flex-w flex-r p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
							<button ng-click="create()"
								class="flex-c-m m-r-8 mtext-105 cl0 size-40 bg3 bor1 hov-btn3 p-lr-20 trans-04 pointer">
								<i class="fa fa-plus m-r-5" aria-hidden="true"></i>Thêm
							</button>
							<button ng-click="update()"
								class="flex-c-m m-r-8 mtext-105 cl0 size-40 bg3 bor1 hov-btn3 p-lr-20 trans-04 pointer">
								<i class="fa fa-pencil m-r-5" aria-hidden="true"></i>Cập nhật
							</button>
							<button ng-click="reset()"
								class="flex-c-m mtext-105 cl0 size-40 bg3 bor1 hov-btn3 p-lr-20 trans-04 pointer">
								<i class="fa fa-refresh m-r-5" aria-hidden="true"></i>Bỏ qua
							</button>
						</div>
				</form>
			</div>
			<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
				<h4 class="mtext-105 cl2 txt-center p-b-30">Tài khoản</h4>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th scope="col">Tài khoản</th>
							<th scope="col">Họ và tên</th>
							<th scope="col">Mật khẩu</th>
							<th scope="col">Email</th>
							<th scope="col">Số điện thoại</th>
							<th scope="col">Giới tính</th>
							<th scope="col">Địa chỉ</th>
							<th scope="col">Ảnh</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in pager.items">
							<th scope="row">{{item.username}}</th>
							<td></td>
							<td>{{item.password}}</td>
							<td>{{item.email}}</td>
							<td>{{item.phone}}</td>
							<td>{{item.gender?'Nam':'Nữ'}}</td>
							<td>{{item.address}}</td>
							<td>{{item.photo}}</td>
							<td class="column-8">
								<div class="btn-group btn-group-xs">
									<button ng-click="edit(item)"
										class="btn btn-warning glyphicon glyphocon-edit">Sửa</button>
									<button ng-click="delete(item)"
										class="btn btn-danger glyphicon glyphocon-trash">Xóa</button>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>