<div class="col-12 grid-margin">
	<div class="card">
		<div class="card-body">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item" role="presentation">
					<button class="nav-link active" id="home-tab" data-toggle="tab" data-target="#home" type="button"
						role="tab" aria-controls="home" aria-selected="true">Thông tin</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="profile-tab" data-toggle="tab" data-target="#profile" type="button"
						role="tab" aria-controls="profile" aria-selected="false">Danh sách</button>
				</li>
			</ul>
			<p class="card-description">
				Người dùng
			</p>

			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
					<form class="forms-sample">
						<div class="row"> 
							<div class="col-3 form-group">
								<label for="id_img_account" style="display: block">
									<img style="height: 300px;object-fit: cover;" class="pointer w-100" ng-src="{{'../images/avatar/' + form.photo}}">
								</label>
								<input id="id_img_account" hidden class="form-control file-upload-info" type="file" id="image"
									onchange="angular.element(this).scope().imageChanged(this.files)" accept="image/*">
							</div>
							<div class="col-8 form-group">
								<label for="exampleInputName1"><img class="how-pos4 pointer-none"
										src="/images/icons/sport_clothes_24px.png" alt="ICON"> Tài khoản</label>
								<input type="text" ng-model="form.username" placeholder="Nhập tài khoản"
									class="form-control" /><br>

								<label for="exampleInputEmail3"><img class="how-pos4 pointer-none"
										src="/images/icons/price_24px.png" alt="ICON"> Họ và tên</label>
								<input type="text" ng-model="form.fullname" placeholder="Nhập họ tên"
									class="form-control" /><br>

								<label for="exampleInputPassword4"><img class="how-pos4 pointer-none"
										src="/images/icons/Numbers_24px.png" alt="ICON"> Mật khẩu</label>
								<input type="password" ng-model="form.password" placeholder="Nhập mật khẩu"
									class="form-control" />
							</div>

						</div>

						<div class="form-group">
							<label><img class="how-pos4 pointer-none" src="/images/icons/Email Sign_24px.png"
									alt="ICON"> Địa chỉ email</label>
							<input type="email" ng-model="form.email" class="form-control" placeholder="Nhập email" />
						</div>
						<div class="form-group">
							<label><img class="how-pos4 pointer-none" src="/images/icons/Email Sign_24px.png"
									alt="ICON"> Số điện thoại</label>
							<input type="tel" ng-model="form.phone" class="form-control" placeholder="Nhập email" />
						</div>
						<div class="form-group">
							<label><img class="how-pos4 pointer-none" src="/images/icons/Email Sign_24px.png"
									alt="ICON"> Giới tính</label>
							<div class="form-group clearfix">
								<div class="icheck-primary d-inline">
									<input type="radio" id="radioPrimary1" required ng-value="true"
										ng-model="form.gender" name="gender" checked>
									<label for="radioPrimary1"> Nam
									</label>
								</div>
								<div class="icheck-primary d-inline">
									<input type="radio" id="radioPrimary2" required ng-value="false"
										ng-model="form.gender" name="gender">
									<label for="radioPrimary2"> Nữ
									</label>
								</div>
							</div>
						</div>
						<div class="flex-w flex-r p-t-18 p-b-15 p-lr-15-sm">
							<button ng-click="create()" class="btn btn-primary mr-2">
								<i class="fa fa-plus m-r-5" aria-hidden="true"></i>Thêm</button>
							<button ng-click="update()" class="btn btn-primary mr-2">
								<i class="fa fa-pencil m-r-5" aria-hidden="true"></i>Cập nhật</button>
							<button ng-click="reset()" class="btn btn-light">
								<i class="fa fa-refresh m-r-5" aria-hidden="true"></i>Bỏ qua</button>
						</div>
					</form>

				</div>
				<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
					<h4 class="mtext-105 cl2 txt-center p-b-30">Dữ liệu</h4>
					<table class="table table-bordered">
						<thead>
							<tr>
								<th scope="col">Tài khoản</th>
								<th scope="col">Họ và tên</th>
								<th scope="col">Giới tính</th>
								<th scope="col">Số điện thoại</th>
								<th scope="col">Email</th>
								<th scope="col">Ảnh</th>
							

							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in pager.items">
								<th scope="row">{{item.username}}</th>
								<td>{{item.fullname}}</td>
								<td>{{item.gender?'Nam':'Nữ'}}</td>
								<td>{{item.phone}}</td>
								<td>{{item.email}}</td>
								<td>{{item.photo}}</td>
								<td class="column-8">
									<div class="btn-group btn-group-xs">
										<button ng-click="edit(item)"
											class="btn btn-warning glyphicon glyphocon-edit">Sửa</button>
										<button ng-click="delete(item)"
											class="btn btn-danger glyphicon glyphocon-trash">Xóa</button>
									</div>
								</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>

		</div>
	</div>