<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<head>
	<title>Đăng ký</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
</head>

<body class="animsition" ng-app="shopping-cart-app" ng-controller="shopping-cart-ctrl">
	<main>
		<!-- Sidebar -->
		<header class="header_area">
			<!-- Top menu -->
			<div th:replace="/layout/header.html">
	
			</div>
		</header>

		<!-- Cart -->
		<div th:replace="/layout/cart.html"></div>


		<!-- @{|/images/*{image}|} -->
		<!-- Slider -->
		<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('/images/bg-01.jpg');">
			<h2 class="ltext-105 cl0 txt-center">
				Đăng ký
			</h2>
		</section>


		<!-- Content page -->
		<section class="bg0 p-t-104 p-b-116">
			<div class="container">
				<div class="flex-w flex-tr">
					<div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
						<form name="formdulieu">
							<h4 class="mtext-105 cl2 txt-center p-b-30">
								Đăng ký
							</h4>

							<div class="bor8 m-b-20 how-pos4-parent">
								<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" id="username" ng-model="username" ng-minlength="4" name="taikhoan"
									placeholder="Nhập tài khoản" required>
								<img class="how-pos4 pointer-none" src="/images/icons/icon-email.png" alt="ICON">
							</div>
							<div ng-show="formdulieu.taikhoan.$dirty  || formdulieu.$submitted">
								<span class="badge badge-danger"
									ng-show="formdulieu.taikhoan.$error.required">
									Tài khoản không được trống
								</span>
								<span class="badge badge-danger"
									ng-show="formdulieu.taikhoan.$error.minlength">
									Tài khoản phải 4 kí tự trở lên
								</span>
							</div><br>
							<div class="bor8 m-b-20 how-pos4-parent">
								<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="email" id="email" ng-model="email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" name="email"
									placeholder="Nhập email" required>
								<img class="how-pos4 pointer-none" src="/images/icons/icon-email.png" alt="ICON">
							</div>
							<div ng-show="formdulieu.email.$dirty  || formdulieu.$submitted">
								<span class="badge badge-danger font-italic" ng-show="formdulieu.email.$error.pattern">
									Vui lòng nhập đúng định dạng email (VD: user@gmail.com)</span>
								<span class="badge badge-danger"
									ng-show="formdulieu.email.$error.required">
									Email không được rỗng
								</span>
							</div><br>
							<div class="bor8 m-b-20 how-pos4-parent">
								<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="tel" id="phone" ng-model="phone" ng-minlength="10" ng-maxlength="10" name="number"
									placeholder="Nhập số điện thoại" required>
								<img class="how-pos4 pointer-none" src="/images/icons/icon-email.png" alt="ICON">
							</div>
							<div ng-show="formdulieu.number.$dirty  || formdulieu.$submitted">
								<span class="badge badge-danger"
									ng-show="formdulieu.number.$error.required">
									Số điện thoại không được rỗng
								</span>
								<span class="badge badge-danger"
									ng-show="formdulieu.number.$error.minlength || formdulieu.number.$error.maxlength">
									Số điện thoại chỉ được 10 kí tự
								</span>
							</div><br>
							<div class="bor8 m-b-20 how-pos4-parent">
								<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="password" id="matkhau" ng-model="pass" name="matkhau" ng-minlength="6"
									placeholder="Nhập mật khẩu" required>
								<img class="how-pos4 pointer-none" src="/images/icons/favicon.png" alt="ICON">
							</div>
							<div ng-show="formdulieu.matkhau.$dirty  || formdulieu.$submitted">
								<span class="badge badge-danger"
									ng-show="formdulieu.matkhau.$error.minlength">
									Mật khẩu phải 6 kí tự trở lên
								</span>
								<span class="badge badge-danger"
									ng-show="formdulieu.matkhau.$error.required">
									Mật khẩu không được rỗng
								</span>
							</div><br>
							<div class="bor8 m-b-20 how-pos4-parent">
								<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="password" ng-model="xnpass" name="matkhau1" ng-minlength="6"
									placeholder="Xác nhận lại mật khẩu" required>
								<img class="how-pos4 pointer-none" src="/images/icons/favicon.png" alt="ICON">
							</div>
							<div ng-show="formdulieu.matkhau1.$dirty || formdulieu.$submitted">
								<span class="badge badge-danger"
									ng-show="formdulieu.matkhau1.$error.minlength">
									Mật khẩu phải 6 kí tự trở lên
								</span>
								<span class="badge badge-danger"
									ng-show="formdulieu.matkhau1.$error.required">
									Mật khẩu không được rỗng
								</span>
							</div><br>
							
							<i class="pull-left text-danger" th:text="${message}"></i>
							<button ng-disabled="formmatkhau.$invalid" ng-click="register()" class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">
								Đăng ký
							</button>
							<div class="m-t-40 text-center">
								Hoặc đăng ký bằng
							</div>
							<div class="m-t-20 d-flex justify-content-center">
								<div class="m-r-10">
									<a href="/oauth2/authorization/google">
										<i style="font-size: 30px" class="fa fa-google" aria-hidden="true"></i>
									</a>
								</div>
								<div class="">
									<a href="/oauth2/authorization/facebook">
										<i style="font-size: 30px" class="fa fa-facebook-official" aria-hidden="true"></i>
									</a> 
								</div>
							</div>
						</form>
					</div>

					<div class="size-210 bor10 flex-w flex-col-m p-lr-93 p-tb-30 p-lr-15-lg w-full-md">
						<div class="flex-w w-full p-b-42">
							<span class="fs-18 cl5 txt-center size-211">
								<span class="lnr lnr-map-marker"></span>
							</span>
	
							<div class="size-212 p-t-2">
								<span class="mtext-110 cl2">
									Địa chỉ
								</span>
	
								<p class="stext-115 cl6 size-213 p-t-18">
									NoHood Store tại lầu 3, số 205 Sư Vạn Hạnh, Quận Bình Thạnh, TP.HCM
								</p>
							</div>
						</div>
	
						<div class="flex-w w-full p-b-42">
							<span class="fs-18 cl5 txt-center size-211">
								<span class="lnr lnr-phone-handset"></span>
							</span>
	
							<div class="size-212 p-t-2">
								<span class="mtext-110 cl2">
									Liên hệ
								</span>
	
								<p class="stext-115 cl1 size-213 p-t-18">
									+84 933 857906
								</p>
							</div>
						</div>
	
						<div class="flex-w w-full">
							<span class="fs-18 cl5 txt-center size-211">
								<span class="lnr lnr-envelope"></span>
							</span>
	
							<div class="size-212 p-t-2">
								<span class="mtext-110 cl2">
									Hỗ trợ
								</span>
	
								<p class="stext-115 cl1 size-213 p-t-18">
									contact@example.com
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Back to top -->
		<div class="btn-back-to-top" id="myBtn">
			<span class="symbol-btn-back-to-top">
				<i class="zmdi zmdi-chevron-up"></i>
			</span>
		</div>



		<script src="/js/shopping-cart-app.js"></script>
		<!--===============================================================================================-->
		<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
		<!--===============================================================================================-->
		<script src="/vendor/animsition/js/animsition.min.js"></script>
		<!--===============================================================================================-->
		<script src="/vendor/bootstrap/js/popper.js}"></script>
		<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
		<!--===============================================================================================-->
		<script src="/vendor/select2/select2.min.js"></script>
		<script>
			$(".js-select2").each(function () {
				$(this).select2({
					minimumResultsForSearch: 20,
					dropdownParent: $(this).next('.dropDownSelect2')
				});
			})
		</script>
		<!--===============================================================================================-->
		<script src="/vendor/daterangepicker/moment.min.js"></script>
		<script src="/vendor/daterangepicker/daterangepicker.js"></script>
		<!--===============================================================================================-->
		<script type="text/javascript" src="/vendor/slick/slick.min.js"></script>
		<script type="text/javascript" src="/js/slick-custom.js"></script>
		<!--===============================================================================================-->
		<script type="text/javascript" src="/vendor/parallax100/parallax100.js"></script>
		<script>
			$('.parallax100').parallax100();
		</script>
		<!--===============================================================================================-->
		<script type="text/javascript" src="/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
		<script>
			$('.gallery-lb').each(function () { // the containers for all your galleries
				$(this).magnificPopup({
					delegate: 'a', // the selector for gallery item
					type: 'image',
					gallery: {
						enabled: true
					},
					mainClass: 'mfp-fade'
				});
			});
		</script>
		<!--===============================================================================================-->
		<script type="text/javascript" src="/vendor/isotope/isotope.pkgd.min.js"></script>
		<!--===============================================================================================-->
		<script type="text/javascript" src="/vendor/sweetalert/sweetalert.min.js"></script>
		<script>
			$('.js-addwish-b2').on('click', function (e) {
				e.preventDefault();
			});

			$('.js-addwish-b2').each(function () {
				var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
				$(this).on('click', function () {
					swal(nameProduct, "is added to wishlist !", "success");

					$(this).addClass('js-addedwish-b2');
					$(this).off('click');
				});
			});

			$('.js-addwish-detail').each(function () {
				var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

				$(this).on('click', function () {
					swal(nameProduct, "is added to wishlist !", "success");

					$(this).addClass('js-addedwish-detail');
					$(this).off('click');
				});
			});

			/*---------------------------------------------*/

			$('.js-addcart-detail').each(function () {
				var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
				$(this).on('click', function () {
					swal(nameProduct, "is added to cart !", "success");
				});
			});
		</script>
		<!--===============================================================================================-->
		<script src="/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
		<script>
			$('.js-pscroll').each(function () {
				$(this).css('position', 'relative');
				$(this).css('overflow', 'hidden');
				var ps = new PerfectScrollbar(this, {
					wheelSpeed: 1,
					scrollingThreshold: 1000,
					wheelPropagation: false,
				});

				$(window).on('resize', function () {
					ps.update();
				})
			});
		</script>
		<!--===============================================================================================-->
		<script src="/js/main.js"></script>
	</main>
</body>

</html>