<style>
	.color {
		background-color: #000000
	}
</style>
<div class="col-12 grid-margin">
	<div class="card">
		<div class="card-body">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item" role="presentation">
					<button class="nav-link active" id="home-tab" data-toggle="tab" data-target="#home" type="button"
						role="tab" aria-controls="home" aria-selected="true">Thông tin</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="profile-tab" data-toggle="tab" data-target="#profile" type="button"
						role="tab" aria-controls="profile" aria-selected="false">Danh sách</button>
				</li>
			</ul>
			<p class="card-description">
				Sản phẩm
			</p>

			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
					<form class="forms-sample">
						<div class="row">
							<div class="col-3 form-group">
								<label style="display: block;" for="id_img_productup">
									<img ng-if="form.image" style="height: 300px;object-fit: cover;"
										class="pointer w-100"
										ng-src="{{'/images/products/'+ form.productid + '/index1.png'}}">

								</label>
								<label style="display: block;" for="id_img_product">
									<img ng-if="!form.image" style="height: 300px;object-fit: cover;"
										class="pointer w-100" ng-src="{{'/images/products/'+ form.image}}">
								</label>

							</div>
							<div class="col-8 form-group">
								<div class="row mb-4">
									<div class="col-6">
										<input hidden type="text" ng-model="form.productid" placeholder="Mã sản phẩm"
											class="form-control" />
										<label for="exampleInputName1"><img class="how-pos4 pointer-none"
												src="/images/icons/sport_clothes_24px.png" alt="ICON"> Tên sản
											phẩm</label>
										<input type="text" ng-model="form.productname" placeholder="Nhập sản phẩm"
											class="form-control" />
									</div>
									<div class="col-6">
										<label for="exampleInputCity1"><img class="how-pos4"
												src="/images/icons/account_24px.png" alt="ICON"> Thể loại</label>
										<select ng-model="form.categories.cateid" class="form-control">
											<option ng-repeat="c in cates" ng-value="c.cateid">{{c.catename}}
											</option>
										</select>
									</div>
								</div>
								<div class="row mb-4">
									<div class="col-6">
										<label for="exampleInputEmail3"><img class="how-pos4 pointer-none"
												src="/images/icons/price_24px.png" alt="ICON"> Giá tiền</label>
										<input type="number" ng-model="form.price" placeholder="Nhập giá"
											class="form-control" />
									</div>
									<div class="col-6">
										<label for="exampleInputPassword4"><img class="how-pos4 pointer-none"
												src="/images/icons/Numbers_24px.png" alt="ICON"> Số lượng</label>
										<input type="number" ng-model="form.quantity" placeholder="Nhập số lượng"
											class="form-control" />
									</div>
								</div>
								<div class="row mb-4">
									<div class="col-10">
										<label><img class="how-pos4" src="/images/icons/account_24px.png" alt="ICON">
											Màu sắc</label>
										<div class="dropdown form-control" data-toggle="dropdown" aria-expanded="false">
											<div class="color"
												style="background-color: {{form.colorid}}; width: 100%; height: 15px">
											</div>
											<div class="dropdown-menu">
												<div ng-repeat="c in listColors" class="dropdown-item" href="#">
													<div ng-click="changeColor(c)"
														style="background-color: {{c}}; width: 100%; height: 15px">
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-2">
										<label>Chọn màu mới</label>
										<input ng-model="form.colorid" type="color" placeholder="Nhập số lượng"
											class="form-control" />
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-6">
								<div class="form-group">
									<label><img class="how-pos4 pointer-none" src="/images/icons/Email Sign_24px.png"
											alt="ICON">Size</label>
									<select ng-model="form.size" class="form-control">
										<option>S</option>
										<option>M</option>
										<option>L</option>
										<option>XL</option>
										<option>XXL</option>
									</select>
								</div>
							</div>
							<div class="col-6">
								<div class="form-group">
									<label><img class="how-pos4 pointer-none" src="/images/icons/Email Sign_24px.png"
											alt="ICON"> Ngày đăng</label>
									<input type="date" ng-model="form.datecreate" class="form-control" />
								</div>
							</div>
						</div>
						<input hidden class="form-control file-upload-info" type="file" id="id_img_product"
							onchange="angular.element(this).scope().imageChanged(this.files)" accept=".png" multiple>
						<input hidden class="form-control file-upload-info" type="file" id="id_img_productup"
							onchange="angular.element(this).scope().imageUpdated(this.files)" accept=".png" multiple>

						<div class="flex-w flex-r p-t-18 p-b-15 p-lr-15-sm">
							<button ng-click="create()" class="btn btn-primary mr-2">
								<i class="fa fa-plus m-r-5" aria-hidden="true"></i>Thêm</button>
							<button ng-click="update()" class="btn btn-primary mr-2">
								<i class="fa fa-pencil m-r-5" aria-hidden="true"></i>Cập nhật</button>
							<button ng-click="reset()" class="btn btn-light">
								<i class="fa fa-refresh m-r-5" aria-hidden="true"></i>Bỏ qua</button>
						</div>
					</form>

				</div>
				<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
					<h4 class="mtext-105 cl2 txt-center p-b-30">Dữ liệu</h4>
					<table class="table table-bordered">
						<thead>
							<tr>
								<th scope="col">Tên sản phẩm</th>
								<th scope="col">Giá</th>
								<th scope="col">Số lượng</th>
								<th scope="col">Ngày sản xuất</th>
								<th scope="col">Thể loại</th>
								<th scope="col">Màu</th>
								<th scope="col">Size</th>

							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in pager.items">
								<td>{{item.productname}}</td>
								<td>{{item.price | number: 2}}</td>
								<td>{{item.quantity}}</td>
								<td>{{item.datecreate | date: 'dd-MM-yyyy'}}</td>
								<td>{{item.categories.catename}}</td>
								<td>{{item.colorid}}</td>
								<td>{{item.size}}</td>
								<td class="column-8">
									<div class="btn-group btn-group-xs">
										<button ng-click="edit(item)"
											class="btn btn-warning glyphicon glyphocon-edit">Sửa</button>
										<button ng-click="delete(item)"
											class="btn btn-danger glyphicon glyphocon-trash">Xóa</button>
									</div>
								</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>

		</div>
	</div>