<div class="col-12 grid-margin">
	<div class="card">
		<div class="card-body">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item" role="presentation">
					<button class="nav-link active" id="home-tab" data-toggle="tab" data-target="#home" type="button"
						role="tab" aria-controls="home" aria-selected="true">Thông tin</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="profile-tab" data-toggle="tab" data-target="#profile" type="button"
						role="tab" aria-controls="profile" aria-selected="false">Danh sách</button>
				</li>
			</ul>
			<p class="card-description">
				Sản phẩm
			</p>

			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
					<form class="forms-sample">
						<div class="row">
							<div class="col-3 form-group">
								<img width="300" ng-src="{{'/images/'+ form.image}}">
							</div>
							<div class="col-8 form-group">
								<label for="exampleInputName1"><img class="how-pos4 pointer-none"
										src="/images/icons/sport_clothes_24px.png" alt="ICON"> Tên sản
									phẩm</label>
								<input type="text" ng-model="form.productname" placeholder="Nhập sản phẩm"
									class="form-control" /><br>

								<label for="exampleInputEmail3"><img class="how-pos4 pointer-none"
										src="/images/icons/price_24px.png" alt="ICON"> Giá tiền</label>
								<input type="number" ng-model="form.price" placeholder="Nhập giá"
									class="form-control" /><br>

								<label for="exampleInputPassword4"><img class="how-pos4 pointer-none"
										src="/images/icons/Numbers_24px.png" alt="ICON"> Số lượng</label>
								<input type="number" ng-model="form.quantity" placeholder="Nhập số lượng"
									class="form-control" />
							</div>

						</div>

						<div class="form-group">
							<label><img class="how-pos4 pointer-none" src="/images/icons/Email Sign_24px.png"
									alt="ICON"> Ngày đăng</label>
							<input type="date" ng-model="form.datecreate" class="form-control" />

						</div>
						<div class="form-group">
							<label><img class="how-pos4 pointer-none" src="/images/icons/account_24px.png" alt="ICON">
								Hình ảnh</label>
							<input type="file" name="img[]" class="file-upload-default">
							<div class="input-group col-xs-12">
								<input class="form-control file-upload-info" type="file" id="image"
									onchange="angular.element(this).scope().imageChanged(this.files)">

								<span class="input-group-append">
									<button class="file-upload-browse btn btn-primary" type="button">Upload</button>
								</span>
							</div>
						</div>
						<div class="form-group">
							<label for="exampleInputCity1"><img class="how-pos4"
									src="/images/icons/account_24px.png" alt="ICON"> Thể loại</label>
							<select ng-model="form.categories.cateid" class="form-control">
								<option ng-repeat="c in cates" ng-value="c.cateid">{{c.catename}}
								</option>
							</select>
						</div>
						<div class="flex-w flex-r p-t-18 p-b-15 p-lr-15-sm">
							<button ng-click="create()" class="btn btn-primary mr-2">
								<i class="fa fa-plus m-r-5" aria-hidden="true"></i>Thêm</button>
							<button ng-click="update()" class="btn btn-primary mr-2">
								<i class="fa fa-pencil m-r-5" aria-hidden="true"></i>Cập nhật</button>
							<button ng-click="reset()" class="btn btn-light">
								<i class="fa fa-refresh m-r-5" aria-hidden="true"></i>Bỏ qua</button>
						</div>
					</form>

				</div>
				<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
					<h4 class="mtext-105 cl2 txt-center p-b-30">Dữ liệu</h4>
					<table class="table table-bordered">
						<thead>
							<tr>
								<th scope="col">Mã sản phẩm</th>
								<th scope="col">Tên sản phẩm</th>
								<th scope="col">Giá</th>
								<th scope="col">Số lượng</th>
								<th scope="col">Ngày sản xuất</th>
								<th scope="col">Ảnh</th>
								<th scope="col">Thể loại</th>

							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in pager.items">
								<th scope="row">{{item.productid}}</th>
								<td>{{item.productname}}</td>
								<td>{{item.price | number: 2}}</td>
								<td>{{item.quantity}}</td>
								<td>{{item.datecreate | date: 'dd-MM-yyyy'}}</td>
								<td>{{item.image}}</td>
								<td>{{item.categories.catename}}</td>
								<td class="column-8">
									<div class="btn-group btn-group-xs">
										<button ng-click="edit(item)"
											class="btn btn-warning glyphicon glyphocon-edit">Sửa</button>
										<button ng-click="delete(item)"
											class="btn btn-danger glyphicon glyphocon-trash">Xóa</button>
									</div>
								</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>

		</div>
	</div>