<div class="container">
	<div class="col-10 m-auto">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item" role="presentation">
				<button class="nav-link active" id="home-tab" data-toggle="tab" data-target="#home" type="button"
					role="tab" aria-controls="home" aria-selected="true">Thông tin</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="profile-tab" data-toggle="tab" data-target="#profile" type="button"
					role="tab" aria-controls="profile" aria-selected="false">Danh sách</button>
			</li>
		</ul>
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
				<form>
					<h4 class="mtext-105 cl2 txt-center p-b-30">Sản phẩm</h4>
					<div class="row">
						<div class="col-4">
							<img width="130px" src="/">
						</div>
						<div class="col-8">
							<div class="bor8 m-b-20 how-pos4-parent">
								<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text"
									ng-model="form.productname" placeholder="Nhập tên sản phẩm"> <img
									class="how-pos4 pointer-none" src="/images/icons/sport_clothes_24px.png" alt="ICON">
							</div>

							<div class="bor8 m-b-20 how-pos4-parent">
								<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="number"
									ng-model="form.price" placeholder="Nhập giá">
								<img class="how-pos4 pointer-none" src="/images/icons/price_24px.png" alt="ICON">
							</div>
							<div class="bor8 m-b-20 how-pos4-parent">
								<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="number"
									ng-model="form.quantity" placeholder="Nhập số lượng"> <img
									class="how-pos4 pointer-none" src="/images/icons/Numbers_24px.png" alt="ICON">
							</div>
						</div>
					</div>

					<div class="bor8 m-b-20 how-pos4-parent">
						<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="date" ng-model="form.datecreate">
						<img class="how-pos4 pointer-none" src="/images/icons/pay_date_24px.png" alt="ICON">
					</div>
					<div class="bor8 m-b-20 how-pos4-parent">
						<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30 p-t-10" type="file" id="image"
							onchange="angular.element(this).scope().imageChanged(this.files)">
						<img class="how-pos4 pointer-none" src="/images/icons/pay_date_24px.png" alt="ICON">
					</div>
					<div class="bor8 m-b-20 how-pos4-parent">
						<select ng-model="form.categories.cateid" id=""
							class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30">
							<option ng-repeat="c in cates" ng-value="c.cateid">{{c.catename}}</option>
						</select> <img class="how-pos4 pointer-none" src="/images/icons/account_24px.png" alt="ICON">
					</div>
					<div class="flex-w flex-r p-t-18 p-b-15 p-lr-15-sm">
						<button ng-click="create()"
							class="flex-c-m m-r-8 mtext-105 cl0 size-40 bg3 bor1 hov-btn3 p-lr-20 trans-04 pointer">
							<i class="fa fa-plus m-r-5" aria-hidden="true"></i>Thêm</button>
						<button ng-click="update()"
							class="flex-c-m m-r-8 mtext-105 cl0 size-40 bg3 bor1 hov-btn3 p-lr-20 trans-04 pointer">
							<i class="fa fa-pencil m-r-5" aria-hidden="true"></i>Cập nhật</button>
						<button ng-click="reset()"
							class="flex-c-m mtext-105 cl0 size-40 bg3 bor1 hov-btn3 p-lr-20 trans-04 pointer">
							<i class="fa fa-refresh m-r-5" aria-hidden="true"></i>Bỏ qua</button>
					</div>
				</form>
			</div>
			<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
				<h4 class="mtext-105 cl2 txt-center p-b-30">Dữ liệu</h4>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th scope="col">Mã sản phẩm</th>
							<th scope="col">Tên sản phẩm</th>
							<th scope="col">Giá</th>
							<th scope="col">Số lượng</th>
							<th scope="col">Ngày sản xuất</th>
							<th scope="col">Ảnh</th>
							<th scope="col">Thể loại</th>

						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in pager.items">
							<th scope="row">{{item.productid}}</th>
							<td>{{item.productname}}</td>
							<td>{{item.price | number: 2}}</td>
							<td>{{item.quantity}}</td>
							<td>{{item.datecreate | date: 'dd-MM-yyyy'}}</td>
							<td>{{item.image}}</td>
							<td>{{item.categories.catename}}</td>
							<td class="column-8">
								<div class="btn-group btn-group-xs">
									<button ng-click="edit(item)"
										class="btn btn-warning glyphicon glyphocon-edit">Sửa</button>
									<button ng-click="delete(item)"
										class="btn btn-danger glyphicon glyphocon-trash">Xóa</button>
								</div>
							</td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>