<div class="col-12 grid-margin">
	<div class="card">
		<div class="card-body">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item" role="presentation">
					<button class="nav-link active" id="home-tab" data-toggle="tab" data-target="#home" type="button"
						role="tab" aria-controls="home" aria-selected="true">Thông tin</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="profile-tab" data-toggle="tab" data-target="#profile" type="button"
						role="tab" aria-controls="profile" aria-selected="false">Danh sách</button>
				</li>
			</ul>
			<p class="card-description">
				Loại sản phẩm
			</p>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
					<form class="forms-sample">

						<div class="form-group">
							<label for="exampleSelectGender"><img class="how-pos4 pointer-none"
									src="/images/icons/Email Sign_24px.png" alt="ICON"> Loại sản phẩm</label>

							<input class="form-control" type="text" ng-model="form.cateid"
								placeholder="Nhập mã thể loại">
						</div>
						<div class="form-group">
							<label><img class="how-pos4 pointer-none"
								src="/images/icons/password_24px.png" alt="ICON"> Tên sản phẩm</label>
								<input class="form-control" type="text" ng-model="form.catename"
								placeholder="Nhập tên thể loại">
							
						</div>
						<div class="flex-w flex-r p-t-18 p-b-15 p-lr-15-sm">
							<button ng-click="create()" class="btn btn-primary mr-2">
								<i class="fa fa-plus m-r-5" aria-hidden="true"></i>Thêm</button>
							<button ng-click="update()" class="btn btn-primary mr-2">
								<i class="fa fa-pencil m-r-5" aria-hidden="true"></i>Cập nhật</button>
							<button ng-click="reset()" class="btn btn-light">
								<i class="fa fa-refresh m-r-5" aria-hidden="true"></i>Bỏ qua</button>
						</div>
					</form>
				</div>
				<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
					<h4 class="mtext-105 cl2 txt-center p-b-30">Dữ liệu</h4>
					<table class="table table-bordered">
						<tr class="table_head">
							<th class="column-1">Mã thể loại</th>
							<th class="column-2">Tên thể loại</th>
							<th class="column-8"></th>
						</tr>

						<tr class="table_row" ng-repeat="item in pager.items">
							<td class="column-1">{{item.cateid}}</td>
							<td class="column-2">{{item.catename}}</td>
							<td class="column-8">
								<div class="btn-group btn-group-xs">
									<button ng-click="edit(item)"
										class="btn btn-warning glyphicon glyphocon-edit">Sửa</button>
									<button ng-click="delete(item)"
										class="btn btn-danger glyphicon glyphocon-trash">Xóa</button>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>

		</div>
	</div>