@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Ink&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Reem Kufi Ink', sans-serif;
}

.block_none {
    display: none !important;
}

.block {
    display: block !important;
}


/* .navall {
    position: relative;
    width: 100%;
    min-height: 150vh;
} */

.menustanding {
    box-shadow: 0 0 1px #181616;
    position: fixed;
    width: fit-content;
    height: 100%;
    background: #fff;
    /* display: flex; */
    z-index: 1;
}

.menustanding.open {}


/* .menustanding:hover .tab-item span {
    display: block;
}

.menustanding:hover .icon {
    display: block;
} */

.menustanding .tab-item span {
    margin-left: 8px;
}

.menustanding .tab-item span {
    display: none;
}


.menustanding ul li a {
    /* Tùy chỉnh cho thẻ a trong menu */
    padding: 15px;
    width: 100%;
    color: #181616;
    /* font-size: 1.2rem; */
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

.menustanding ul li a i {
    /* Tùy chỉnh icon trongm menu */
    font-size: 22px;
}

.menustanding .sub_menu a {
    /* Tùy chỉnh kích thước cho submenu */
    padding: 10px 10px 10px 43px;
    font-size: 14px;
}

.menustanding .sub_menu {
    /* Ẩn submenu */
    /* display: none; */
}

.menustanding .vertical_menu:hover>.sub_menu {
    /* Hiển thị menu con khi hover */
    /* display: block; */
}


/* .menustanding ul li a span {
    opacity: 0;
    visibility: hidden;
} */

.menustanding ul li .tab-item:hover {
    /* Thay đổi màu khi hover */
    color: #717fe0;
}

.menustanding ul li a.active {
    /* Thay đổi màu của menu được chọn */
    background-color: #717fe0;
    color: #fff;
}

.menustanding .toggle_menu {
    border: 1px solid #e6e6e6;
    position: absolute;
    top: 10px;
    right: -46px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    transition: linear 0.2s;
}


/* .content {
    top: 0;
    left: 250px;
} */