<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">

<head>
<title>Home 03</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="icon" type="image/png" th:href="@{/images/icons/favicon.png}" />
<!--===============================================================================================-->
</head>

<body class="animsition" ng-app="shopping-cart-app" ng-controller="shopping-cart-ctrl">
	<main>
	<section class="bg0 p-t-120 p-b-60">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-3 p-b-80">
                    <div th:replace="/account/navsidebar.html"></div>
                </div>
                <div class="col-md-8 col-lg-9 p-b-80">
                    <form class="bg0 ng-pristine ng-valid" method="post" th:action="@{/account/profile/edit}">
                        <h4 class="mtext-105 cl2 txt-center p-b-30">Đổi mật khẩu</h4>
                        <div class="row">
                            <div class="col-12">
                                <div class="bor8 m-b-20 how-pos4-parent">
                                    <p style="padding: 10px 10px 0px 10px"><strong>Mật khẩu hiện tại: </strong></p>
                                    <input class="mtext-102 cl2 plh3 size-111 p-l-30 p-r-10" type="password" placeholder="Nhập mật khẩu hiện tại">
                                </div>

                                <div class="bor8 m-b-20 how-pos4-parent">
                                    <p style="padding: 10px 10px 0px 10px"><strong>Mật khẩu mới: </strong></p>
                                    <input class="mtext-102 cl2 plh3 size-111 p-l-30 p-r-30" type="password" placeholder="Nhập mật khẩu mới">
                                </div>
                                <div class="bor8 m-b-20 how-pos4-parent">
                                    <p style="padding: 10px 10px 0px 10px"><strong>Nhập lại mật khẩu mới: </strong></p>
                                    <input class="mtext-102 cl2 plh3 size-111 p-l-30 p-r-30" type="password" placeholder="Nhập lại mật khẩu mới">
                                </div>
                            </div>
                        </div>
                        <div class="flex-w flex-r align-items-center p-t-18 p-b-15 p-lr-15-sm">
                        	<a href="" class="m-r-26 mtext-108">Quên mật khẩu ?</a>
                            <button type="submit" class="flex-c-m m-r-8 mtext-108 cl0 size-40 bg3 bor1 hov-btn3 p-lr-20 p-tb-6 trans-04 pointer">
					        	<i class="fa fa-check m-r-5" aria-hidden="true"></i>Xác nhận
				            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
	</main>
</body>

</html>