<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">

<head>
<title>Home 03</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="icon" type="image/png" th:href="@{/images/icons/favicon.png}" />
<!--===============================================================================================-->
</head>

<body class="animsition" ng-app="shopping-cart-app" ng-controller="shopping-cart-ctrl">
	<main>
	<section class="bg0 p-t-120 p-b-60">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-3 p-b-80">
                    <div th:replace="/account/navsidebar.html"></div>
                </div>
                <div class="col-md-8 col-lg-9 p-b-80">
                    <form class="bg0 ng-pristine ng-valid" th:object="${user}" method="post" th:action="@{/account/profile/edit}">
                        <h4 class="mtext-105 cl2 txt-center p-b-30">Hồ sơ</h4>
                        <div class="row">
                            <div class="col-4">
                                <label for="inuput_img">
                                    <img style="height: 230px;object-fit: cover;" class="pointer w-100"src="/images/blog-02.jpg">
                                </label>
                                <input style="width:60%;" type="file" hidden id="inuput_img">
                            </div>
                            <div class="col-8 p-l-0">
                                <div class="bor8 how-pos4-parent d-flex m-b-20" >
                                    <p style="padding: 10px"><strong>Tên đăng nhập: </strong>[[*{USERNAME}]]</p>
                                </div>
                                
                                <div class="bor8 m-b-20 how-pos4-parent d-flex">
                                    <p style="padding: 10px 10px 0px 10px"><strong>Họ và tên: </strong></p>
                                    <input style="width:60%;" class="stext-115 cl2 plh3 size-111 p-l-11 p-r-30"type="password" placeholder="Nhập họ và tên">
                                </div>
                                <div class="bor8 m-b-20 how-pos4-parent d-flex">
                                    <p style="padding: 10px 10px 0px 10px"><strong>Email: </strong></p>
                                    <input style="width:60%;" class="stext-115 cl2 plh3 size-111 p-l-11 p-r-30" th:field="*{EMAIL}" type="email" placeholder="Nhập email">
                                </div>
                                <div class="bor8 m-b-20 how-pos4-parent d-flex">
		                            <p style="padding: 10px 10px 0px 10px"><strong>Số điện thoại: </strong></p>
		                            <input style="width:60%;" class="stext-115 cl2 plh3 size-111 p-l-11 p-r-30" th:field="*{PHONE}" type="text" placeholder="Nhập số điện thoại">
	                        	</div>	
                            </div>
                        </div>

                        
                        <div class="bor8 m-b-20 how-pos4-parent">
                            <p style="padding: 10px 10px 0px 10px"><strong>Giới tính: </strong></p>
                            <div style="display: flex; padding:5px 30px 2px 11px">
                                <input class="" type="radio" name="inlineRadioOptions" id="inlineRadio1" ng-value="true" th:checked="*{GENDER}">
                                <label style="margin: 0 30px 0 12px" for="inlineRadio1">Nam</label>
                            </div>
                            <div style="display: flex; padding:5px 30px 12px 11px">
                                <input class="" type="radio" name="inlineRadioOptions" id="inlineRadio2" ng-value="false" th:checked="*{!GENDER}">
                                <label style="margin: 0 30px 0 12px" for="inlineRadio2">Nữ</label>
                            </div>
                        </div>
                        <div class="flex-w flex-r p-t-18 p-b-15 p-lr-15-sm">
                            <button type="submit" class="flex-c-m m-r-8 mtext-108 cl0 size-40 bg3 bor1 hov-btn3 p-lr-20 p-tb-6 trans-04 pointer">
					                    <i class="fa fa-pencil m-r-5" aria-hidden="true"></i>Cập nhật
				            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
	</main>
</body>

</html>